$is_body-overflow-x-hidden: true;

html, body {
	margin: 0;
	padding: 0;
	@if ($is_body-overflow-x-hidden) {
		@include o-x-h();
	}
}

html {
	font-size: $font-size-root;
}

body {
	font-size: 100%;
	color: $gray;
}

nav {
	ul {
		padding-left: 0;
		list-style: none;
	}
	li.active, li.current-menu-item, li.current_page_item {
        a {
            color: darken($primary-color, 30%);
        }
    }
	a {
		color: $primary-color;
		&:hover, &:focus, &:active {
			color: darken($primary-color, 30%);
		}
	}
}

textarea {
	max-width: 100%;
	resize: vertical;
	min-height: 250px;
}

iframe {
	overflow: hidden !important;
	border: none;
	background-color: transparent;
	max-width: 100%;
}

article a,
section a {
	color: $secondary-color;
	&:hover, &:focus, &:active {
		color: darken($secondary-color, 10%);
	}
	&[target="_blank"] {
		&:after {
			content: "\f14c";
			display: inline-block;
			vertical-align: top;
			width: 10px;
			height: 10px;
			font-family: "FontAwesome", sans-serif;
			font-size: 0.6rem;
			margin-top: -10px;
		}
	}
}

blockquote {
	clear: both;
	color: $dark-color;
	display: block;
	padding-left: $padding-lg;
	cite {
		display: block;
		text-align: right;
		font-size: $font-size-base*0.9;
	}
}

noscript {
	background-color: transparentize($danger-color, 0.5);
	display: block;
	padding: $padding;
	color: $white;
}

[data-img] {
	background-repeat: no-repeat;
	background-size: cover;
}

.error {
	font-style: italic;
	color: $warning-color;
}

.tt-u {
	text-transform: uppercase;
}

[data-img].bg {
	&-right {
		background-position: right;
		background-size: contain;
	}
	&-left {
		background-position: left;
	}

	&-size {
		@each $size in (10, 20, 30, 40, 50) {
			&-#{$size} {
				background-size: #{$size}% auto;
				@media only screen  and (max-width: $container-sm) {
					background-size: 0;
				}
			}
		}
		&-480 {
			background-size: 580px auto;
		}
	}

	&-dark {
		background-color: $dark-color;
	}
}