<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="Developing Agility &amp; Nimbleness in the Future Economy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#febe4a">
    <meta name="theme-color" content="#ffffff">

    <!-- @if NODE_ENV='production' -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- @endif -->
    <link rel="stylesheet" href="assets/css/app.min.css">
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <noscript>
        Javascript must be enabled to run this site properly.
    </noscript>


    <div class="header">
        <div class="header-block">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptas voluptatum earum nulla ipsum, quaerat accusantium. Quibusdam eum aspernatur reiciendis non perspiciatis maxime id aliquam? Blanditiis incidunt nostrum, praesentium obcaecati!
        </div>
    </div>







    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>window.jQuery || document.write('<script src="vendor/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="assets/js/app.js"></script>
</body>
</html>